<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">TfL Homestop</a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/tube">Tube, etc.</a></li>
        <li routerLinkActive="active"><a routerLink="/bus">Buses</a></li>
        <li routerLinkActive="active"><a routerLink="road">Traffic</a></li>
        <li routerLinkActive="active"><a routerLink="river">River Bus</a></li>
        <li routerLinkActive="active"><a routerLink="cablecar">Emirates Air Line</a></li>
        <li routerLinkActive="active"><a routerLink="rail">National Rail</a></li>
        <li routerLinkActive="active"><a routerLink="mytfl">My TfL</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
