<div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" class="form-control" [(ngModel)]="name">
</div>
<div class="form-group">
    <label for="style">Style</label>
    <select id="style" class="form-control" [(ngModel)]="style">
    <option value="central">central</option>
    <option value="bakerloo">bakerloo</option>
    <option value="district">district</option>
    <option value="circle">circle</option>
    <option value="jubilee">jubilee</option>
  </select>
</div>
<button class="btn btn-primary" (click)="onUpdateTubeline()">Update Tube</button>